<div id="content_container">
  <h1 id="title">Go Fish</h1>
  <div id="rules_div">
    <p>The goal of the game is to collect as many sets of cards as possible.
      A set of cards consists of <span class="bold">4 cards of the same rank</span> (the symbol in the corners of a card).
      Once you collect a set it will be removed from your hand.</p>
    <p>You ask your opponent for a certain rank,
      and if he has cards of that rank in his hand, he must give them all to you. If he doesn’t, you draw from the deck.
      <span class="bold">If you receive your desired rank, be it from the opponent or from the deck, you get to go again. </span>
      Otherwise, it’s the opponents turn.</p>
    <p>You play until both of you have run out of cards.</p>
  </div>
  <button id="start_btn" (click)="startGame()">PLAY</button>
</div>
