<h1>{{whoseTurnText}}</h1>
<h2>PLAYER CARDS</h2>
<p>Player's set count: {{player.completeSetNum}}</p>
<div class="deck">
<button *ngFor="let c of player.cardHand" (click)="askOpponentForCard(c.rank)" [disabled]="!playerCardButtonClickable">
  {{c.rank}} of {{c.suit}}</button>
</div>
<p>{{infoText}}</p>
<h2>OPPONENT CARDS</h2>
<p>Opponent's set count: {{opponent.completeSetNum}}</p>
<div class="deck">
  <p class="opponent_cards" *ngFor="let c of opponent.cardHand">{{c.rank}} of {{c.suit}}</p>
</div>
