.deck{
  display: flex;
  flex-direction: row;
}
button{
  aspect-ratio: 3/4;
  width: 99px;
  height: 132px;
  margin: 5px;
}
.opponent_cards{
  aspect-ratio: 3/4;
  width: 99px;
  height: 132px;
  margin: 5px;
  background-color: gray;
  border-radius: 3px;
  text-align: center;
  align-items: center;
}
