<div id="content_container">
  <div id="game_view" class="row">
    <div id="image_div" class="col-4">
      <img id="game_image" [src]="game.gameStateImage">
    </div>
    <div id="cards_div" class="col-8">
      <div id="opponent_wrapper" class="hand_containers_wrapper">
        <div id="opponent_hand_container" class="hand_container">
          @for (c of opponent.cardHand; track c){
          <div class="opponent_cards"
             [ngStyle]="{'margin-right': setCardElementMargins(opponent, 'opponent_hand_container'),
              'width': cardWidthStr}">
          </div>
          }
        </div>
      </div>
      <p id="help_text">{{game.infoText}}</p>
      <div id="player_wrapper" class="hand_containers_wrapper">
        <div id="player_hand_container" class="hand_container">
          @for (c of player.cardHand; track c){
          <button class="card_button"
                  (click)="onCardElementClick(c.rank)"
                  [disabled]="!game.playerCardElementClickable"
                  [ngStyle]="{'margin-right': setCardElementMargins(player, 'player_hand_container'),
                    'width': cardWidthStr,
                    'background-image': setCardElementSprite(c)}">
          </button>
          }
        </div>
      </div>
    </div>
  </div>
  <div id="HUD_bar_background">
    <div id="HUD_bar" class="row">
      <div id="info_text_div">
        <p id="whose_turn_text">{{game.whoseTurnText}}</p>
      </div>
      <div id="game_stats_div" class="row">
        <div id="left_stats_col" class="col-4 stats_col">
        </div>
        <div id="middle_stats_col" class="col-4 stats_col">
          <p id="timer">{{timerDisplayString}}</p>
        </div>
        <div id="right_stats_col" class="col-4 stats_col">
          <p class="set_count_text">Opponent's set count: {{opponent.completeSetNum}}</p>
          <p class="set_count_text">Player's set count: {{player.completeSetNum}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmExit" tabindex="-1" aria-labelledby= "confirmExitLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmExitLabel">Exit game?</h1>
        <button id="dont_exit" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You will lose your progress if you decide to exit.
      </div>
      <div class="modal-footer">
        <button id="exit" type="button" class="btn btn-primary" data-bs-dismiss="modal">CONFIRM</button>
      </div>
    </div>
  </div>
</div>
