@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

body{
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: 'Comic Relief', system-ui;
  font-size: 16px;
}
